.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    position: relative;

    &--cart {
      max-width: 516px;
      border-radius: 3px;
      background-color: #969696;
      border: 3px solid white;
    }

    &--std {
      max-width: 516px;
      background-color: white;
      border: 1px solid black;
    }
  }
  &__header {
    position: relative;
    box-sizing: border-box;

    &--cart {
      padding: 20px 50px 20px 15px;
      text-align: left;
      background-color: rgba(0, 0, 0, 0.65);
      font-size: 1.25em;
      font-weight: 700;
      font-style: normal;
      color: whitesmoke;
    }

    &--std {
      padding: 20px;
      text-align: left;
      background-color: rgba(0, 0, 0, 0.85);
      font-size: 1.25em;
      font-weight: 700;
      font-style: normal;
      color: black;
    }

    &-text {
      margin: 0;
      font-family: myriad-pro, sans-serif;
    }
  }

  &__description {
    box-sizing: border-box;
    padding: 40px;

    &-text {
      margin: 0;
      text-align: center;
      font-size: 25px;
      color: black;
    }
  }
}
