.header {
  padding: 10px 30px;
  background-color: #7b7a8b3d;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__title {
    font-size: 28px;
    color: white;
    margin-left: 20px;
    text-transform: capitalize;
    cursor: pointer;
  }

  &__logo img {
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  &__title:hover {
    color: aqua;
  }

  &__icons {
    display: flex;
    align-items: flex-end;
    gap: 6px;
  }
}
